<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />

{% block head_file %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <div class="pyoj_band" style="width: 300px;"></div>
            <a href="#">PyOJ v2</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/problems">练习</a></li>
                <li><a href="#">比赛</a></li>
                <li><a href="#">说明</a></li>
            </ul>
        </div>
    </nav>

{% block content %}{% endblock %}

</body>

</html>