{% extends 'base.html' %}

{% block title %}习题列表{% endblock %}

{% block head_file %}
    <link href="/static/css/problem/problem_list.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 10%;">
    <div class="problem_list">
        <table class="table">
            <tr>
                <th>编号</th>
                <th>标题</th>
                <th>通过率</th>
                <th>提交情况</th>
                <th>时间</th>
            </tr>
            <tbody>
            {% for p in problem_list %}
                <tr>
                <td>{{ p.id }}</td>
                <td><a href="/problem/{{ p.id }}">{{ p.title }}</a></td>
                <td>{{ p.pass_ratio }}%</td>
                <td>{{ p.submission }}</td>
                <td>{{ p.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}