{% extends 'base.html' %}

{% block title %}习题列表{% endblock %}

{% block head_file %}
    <link href="/static/css/problem_list.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 10%;">
    <div class="problem_list">
        <ul class="list-group">
            {% for p in problem_list %}
                <li class="list-group-item">
                    <a href="/problem/{{ p.id }}">{{ p.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
{% endblock %}