{% extends 'base.html' %}

{% block title %}{{ problem.title }}{% endblock %}

{% block head_file %}

    <link href="/static/css/problem/problem_single.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="problem_area">
            <div class="problem_head">
                <h2>{{ problem.title }}
                    <a href="submissions/" class="pull-right btn btn-default">我的提交</a>
                </h2>

            </div>
            <div class="problem_content">
                <p>{{ problem.description }}</p>
                <span><h4>输入说明:</h4> {{ problem.input_desc }}</span><br/>
                <span><h4>输出说明:</h4> {{ problem.output_desc }}</span>
                <span><h4>样例输入: </h4> {{ problem.sample_input }}</span>
                <span><h4>样例输出: </h4> {{ problem.sample_output }}</span>
                <span><h4>提示:</h4> {{ problem.hint }}</span>
            </div>
        </div>
        <div class="code_area">
            <div class="code_menu">
                <select>
                    <option value="python" selected>Python</option>
                </select>
            </div>
            <div id="editor"></div>
            <div id="code_ops">
                <button class="btn btn-primary pull-right" id="code_submit_btn">提交</button>
            </div>
        </div>
        <div class="result_area">
            <div class="result_score"></div>
            <div class="result_info"></div>
        </div>
    </div>
    <script src="http://cdn.bootcss.com/ace/1.2.2/ace.js"></script>
    <script src="http://cdn.bootcss.com/ace/1.2.2/ext-language_tools.js"></script>
    <script src="http://cdn.bootcss.com/ace/1.2.2/mode-python.js"></script>
    <script src="/static/js/problem_single.js"></script>
{% endblock %}