{% extends 'admin_base.html' %}

{% block title %}习题管理{% endblock %}

{% block head_file %}
    <link href="/static/css/problem/problem_admin_home.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="problem_home_wrapper">
            <h3>习题列表
            <a href="/admin/problem/add" class="btn btn-default btn-lg pull-right">新建习题</a></h3>
            <div class="problem_home_list">
                <table class="table">
                    <tr>
                        <th>编号</th>
                        <th>题目</th>
                        <th>是否属于比赛(默认-1)</th>
                        <th>最近修改</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    <tbody>
                        {% for problem in problem_list %}
                            <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ problem.title }}</td>
                            <td>{{ problem.contest_id }}</td>
                            <td>{{ problem.last_update }}</td>
                            <td>{{ problem.create_time }}</td>
                            <td>
                                <input type="hidden" id="problem_id" value="{{ problem.id }}">
                                <button class="btn btn-danger btn-xs">删除</button>
                                <a href="/admin/problem/{{ problem.id }}/edit" class="btn btn-info btn-xs">编辑</a>
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}