.account_pannel {
    margin-top: 2%;
    margin-left: 15%;
}

.submission_pannel {
    margin-left: 20px;
    margin-top: 2%;
    margin-right: 10%;
}

.pass_problem_area {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}