body {
    background-color: lavender;
}


.account_area {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: azure;
}

.info_area {
    margin-left: 10%;
    margin-right: 10%;
}