{% extends 'base.html' %}

{% block title %}{{ account.name }}-个人主页{% endblock %}

{% block head_file %}
    <link href="/static/css/account/profile.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="account_area">
            <h3 class="text-center">
                {{ account.name }}
            </h3>
            <h5 class="text-center">Last Login: {{ account.last_login }}</h5>
            <div class="info_area">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>通过题目数</td>
                            <td>{{ pass_problems|length }}</td>
                            <td>
                                <h6 class="text-center">通过的题目</h6>
                            </td>
                        </tr>
                        <tr>
                            <td>总提交数</td>
                            <td>{{ submission }}</td>
                            <td rowspan="2" width="50%" align="center">
                                {% for problem in pass_problems %}
                                    <a href="/problem/{{ problem.id }}">{{ problem.id }}&nbsp;</a>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>邮箱</td>
                            <td>{{ account.email }}</td>
                        </tr>
                        <tr>
                            <td>
                                <h5>最近提交</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>编号</td>
                            <td>提交时间</td>
                            <td>状态</td>
                        </tr>
                        {% for sub in recent_submission %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ sub.submit_time }}</td>
                                <td>{{ sub.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}